.body{
  background-color: rgb(135, 112, 128) !important;
}
.container{
    text-align: center;
    justify-content: center;
    background-color: rgb(135, 112, 128);
    

} 
.card{
    height:24rem;
    border-radius: 0%;
    box-shadow: 10px 10px 7px rgb(53, 5, 77) ;
   
    
}
.card p{
    width: 50%;
    color:rgb(88, 88, 88);
  
}
.card a{
    text-decoration: none;
    color:black;
    font-size: larger;
    cursor:pointer;
}
.card a:hover{
    color:white;
}

.hov-eff{
    transition:transform 0.5s ease-in-out
}
.hov-eff:hover{
   transform: scale(1.2);
   z-index:10;
}

.portfolio{
    background-image: url("portfolio.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
.about{
    background-image: url("about.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
.skills{
     background-image: url("skills.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
.project{
     background-image: url("borrowbasket.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
.project2{
     background-image: url("weather.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;

}
.together{
     background-image: url("together.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}
.experience{
      background-image: url("experience.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}